<div class="md:mx-10">
    <div class="flex flex-col sm:grid grid-cols-[3fr_1fr_1fr] gap-14 my-10 mt-40 text-sm">
      <!-- Left section -->
      <div>
        <img class="mb-5 w-400" src="/assets/logo.png" alt="" />
        <p class="w-full leading-6 text-gray-600 md:w-2/3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus consequatur, quaerat in tenetur accusamus deserunt, eos excepturi eius rem, modi nesciunt quo quos aliquam vitae provident corrupti consequuntur nobis natus commodi atque maxime ipsum laboriosam possimus voluptatem! Unde nulla, laudantium obcaecati odit mollitia, in vel ipsam, neque hic aut fugiat!
        </p>
      </div>
      <!-- Center section -->
      <div>
        <p class="mb-5 text-xl font-medium">Company</p>
        <ul class="flex flex-col gap-2 text-gray-600">
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <!-- Right section -->
      <div>
        <p class="mb-5 text-xl font-medium">Get in touch</p>
        <ul class="flex flex-col gap-2 text-gray-600">
          <li>+1-212-345-6547</li>
          <li><a href="mailto:example@gmail.com">example@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <!-- Copyright text -->
    <div>
      <hr />
      <p class="py-5 text-sm text-center">Copyright 2024@ Prescripto - All Rights Reserved</p>
    </div>
  </div>
  